---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seb-guiservice
  labels:
    app: seb-guiservice
spec:
  minReadySeconds: 10
  selector:
    matchLabels:
      app: seb-guiservice
  replicas: 1
  template:
    metadata:
      labels:
        app: seb-guiservice
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - seb-webservice
                        - seb-guiservice
                        - seb-mariadb
                topologyKey: kubernetes.io/hostname
      volumes:
        - name: application-properties
          configMap:
            name: application-guiservice-properties
            items:
              - key: "application-prod.properties"
                path: "application-prod.properties"
              - key: "logback-prod.xml"
                path: "logback-prod.xml"
        - name: jmx-remote-access
          configMap:
            name: guiservice-jmx-remote-access
            items:
              - key: "jmxremote.access"
                path: "jmxremote.access"
      containers:
        - name: seb-guiservice
          image: anhefti/seb-server:v1.3-stable
          imagePullPolicy: Always
          resources:
            requests:
              memory: "600Mi"
            limits:
              memory: "3Gi"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: application-properties
              mountPath: /sebserver/config/spring
            - name: jmx-remote-access
              mountPath: /sebserver/config/jmx
          env:
# Not needed anymore since spring_profils_active is used directly
#            - name: SEBSERVER_MODE
#              value: gui
            - name: JAVA_HEAP_MIN
              value: "1G"
            - name: JAVA_HEAP_MAX
              value: "8G"
            - name: MONITORING_MODE
              value: "false"
            - name: JMX_PORT
              value: "9090"
            - name: "spring_profiles_active"
              value: "gui,prod-gui,prod"
              
# NOTE: Set the below URL component settings from where the gui-service is externally available
            - name: "sebserver_gui_http_external_scheme"
              value: "http"
            - name: "sebserver_gui_http_external_servername"
              value: "seb-guiservice-prod"
            - name: "sebserver_gui_http_external_port"
              value: ""
# NOTE: Set the below URL component settings from where the gui-service can connect to the web-service
            - name: "sebserver_gui_http_webservice_scheme"
              value: "http"
            - name: "sebserver_gui_http_webservice_servername"
              value: "seb-webservice-prod"
            - name: "sebserver_gui_http_webservice_port"
              value: "80"
            
            - name: "sebserver_password"
              valueFrom:
                secretKeyRef:
                  name: sebservercredentials
                  key: SEBSERVER_PWD
