version: '3.5'
services:
  sebserver-ethz:
      image: "anhefti/seb-server:v1.3-stable"
      container_name: sebserver-ethz
      volumes:
        - seb-server-config:/sebserver/config
        - ./config/spring:/sebserver/config/spring
        - ./config/jmx:/sebserver/config/jmx
      environment:
        - JAVA_HEAP_MIN=1G
        - JAVA_HEAP_MAX=8G
        - spring_profiles_active=ws,gui,prod-ws,prod-gui,prod
        - sebserver_password=${SEBSERVER_PWD}
        - SEBSERVER_SECRET=${SEBSERVER_PWD}
        - sebserver_mariadb_password=${DB_SA_PWD}
        
        # Set the below URL component settings from where the the web-service is externally available
        # NOTE: This must be the address from that the service is externally available (not network inernal address)
        - sebserver_webservice_http_external_scheme=https
        - sebserver_webservice_http_external_servername=
        - sebserver_webservice_http_external_port=

        # JMX settings
        - MONITORING_MODE=false
        # - JMX_PORT=9090
      ports:
        - 8080:8080
        - 9090:9090 # Connect this port to host if you want to use JMX (MONITORING_MODE=true)
      restart: unless-stopped
      
volumes:
  seb-server-config:
    name: seb-server-config

