version: '3.5'
services:
  mariadb: 
    image: "mariadb/server:10.5"
    container_name: seb-server-mariadb
    environment:
        - MYSQL_ROOT_PASSWORD=${DB_SA_PWD}
    ports:
        - 3306:3306
    volumes:
        - seb-server-config:/etc/mysql/conf.d
        - seb-server-mariadb:/var/lib/mysql
        - ./config/mariadb/config.cnf:/etc/mysql/conf.d/config.cnf
    networks:
        - seb-server-network
    restart: unless-stopped

  seb-server:
      image: "anhefti/seb-server:v1.3-stable"
      container_name: seb-server
      volumes:
        - seb-server-config:/sebserver/config
        - ./config/spring:/sebserver/config/spring
      environment:
        - JAVA_HEAP_MIN=1G
        - JAVA_HEAP_MAX=8G
        - spring_profiles_active=gui,ws,prod-ws,prod-gui,prod
        - sebserver_password=${SEBSERVER_PWD}
        - sebserver_mariadb_password=${DB_SA_PWD}
        
        # Set the below URL component settings from where the the web-service is externally available
        # NOTE: This must be the address from that the service is externally available (not network inernal address)
        - sebserver_webservice_http_external_scheme=https
        - sebserver_webservice_http_external_servername=
        - sebserver_webservice_http_external_port=
        
        # JMX settings
        - MONITORING_MODE=false
        # - JMX_PORT=9090
        # Connect this port to host if you want to use JMX (MONITORING_MODE=true)
        #ports:
        #  - 9090:909
      logging:
        driver: "json-file"
        options:
            mode: "non-blocking"
            max-size: "200k"
            max-file: "10"
      networks:
          - seb-server-network
      depends_on:
          - "mariadb"
      restart: unless-stopped

  reverse-proxy:
    image: "nginx:latest"
    container_name: seb-server-proxy
    volumes:
      - ./config/nginx:/etc/nginx/conf.d
      - ./config/nginx/certs:/sebserver/config/certs
    ports:
      - 443:443
    networks:
      - seb-server-network
    depends_on:
      - "mariadb"
      - "seb-server"
    restart: unless-stopped

networks:
  seb-server-network:
    name: seb-server-network

volumes:
  seb-server-config:
    name: seb-server-config
  seb-server-mariadb:
    name: seb-server-mariadb